@use '/app/base/sass/util/functions' as f;
@use '/app/film-database/scss/fdMixins' as m;

// Inspired by camillemormal, wrote from scratch in scss
.fdAccountAnimation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  pointer-events: none;
  &::before,
  &::after {
    content: '';
    position: fixed;
    z-index: 6;
    left: 0;
    width: 100%;
    height: calc(100svh / 16);
    background-color: hsl(0, 0%, 8%);
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    gap: calc(var(--fd-gap) * 2);
    width: 100%;
    height: 100%;
    transform-origin: center center;
    will-change: transform;
    &[data-visible='true'] {
      // Transition duration mimics &__set&[data-visible='true']:nth-of-type(odd) .fdAccountAnimation__backdrop__set__li:nth-of-type(4)
      // Transition delay mimics &__set&[data-visible='true']:nth-of-type(odd) .fdAccountAnimation__backdrop__set__li:nth-of-type(1)
      transform: scale(5.3);
      transition: transform 1.8s cubic-bezier(1, 0, 0.62, 1) 1.4s;
      .fdAccountAnimation__backdrop__set:nth-of-type(odd) .fdAccountAnimation__backdrop__set__li {
        transform: translateY(calc((75svh - (var(--i) - 1) * 25svh) - ((25svh - var(--fd-gap) * 2) / 2)));
      }
      .fdAccountAnimation__backdrop__set:nth-of-type(even) .fdAccountAnimation__backdrop__set__li {
        transform: translateY(calc(var(--i) * 25svh));
      }
      .fdAccountAnimation__backdrop__set:nth-of-type(3)
        .fdAccountAnimation__backdrop__set__li:nth-of-type(3)
        picture
        img {
        // NOTE: transform doesn't play nice with nested tags post psuedo; therefore, we've opted for a single animation (which hurts performance)
        // NOTE: Overflow: clip/hidden causes artifacts; therefore, we should delay filter: scale IF initial starting scale is ABOVE 1
        // Animation mimics transition properties from &__set&[data-visible='true'] .fdAccountAnimation__backdrop__set__li
        // Duration mimics :nth-of-type(4), Delay mimics :nth-of-type(1), Bezier mimics &__set[data-visible='true']
        filter: opacity(1);
        transform: scale(1);
        animation: imgScale 1.8s cubic-bezier(1, 0, 0.62, 1) 1.4s forwards;
        will-change: transform;
      }
      .fdAccountAnimation__backdrop__set__li {
        // :1: lags behind :2, arrives fast, fast to destination
        // :2: lags behind :3, arrives fast, slow to destination
        // :3: launches at the slow bezier ascention of :4 to create visual lag, arrives fast, slow to arrive to transform destination
        // :4: entry slow, fast ascent, slow to arrive to transform destination
        // duration starts at 1.8, subtracting 0.35, then 0.35 / 2 (0.175) to completion
        // delay starts at 0, adding 0.35 * 2, then + 0.35 to completion
        &:nth-of-type(1) {
          transition: transform 1.1s cubic-bezier(0.3, 0, 0.1, 1) 1.4s;
        }
        &:nth-of-type(2) {
          transition: transform 1.275s cubic-bezier(0.3, 0, 0.2, 1) 1.05s;
        }
        &:nth-of-type(3) {
          transition: transform 1.45s cubic-bezier(0.3, 0, 0.3, 1) 0.7s;
        }
        &:nth-of-type(4) {
          transition: transform 1.8s cubic-bezier(0.3, 0, 0.4, 1) 0s;
        }
      }
    }
    &[data-visible='false'] {
      opacity: 0;
      .fdAccountAnimation__backdrop__set:nth-of-type(odd) .fdAccountAnimation__backdrop__set__li {
        transform: translateY(100svh);
      }
      .fdAccountAnimation__backdrop__set:nth-of-type(even) .fdAccountAnimation__backdrop__set__li {
        // Mimics height of list items
        transform: translateY(calc(0svh - (25svh - var(--fd-gap) * 2)));
      }
    }
    &__set {
      flex: 0 0 calc((100% - 4 * (var(--fd-gap) * 2)) / 5);
      position: relative;
      pointer-events: none;
      &__li {
        position: absolute;
        width: 100%;
        // Gap won't work with abs pos; therefore, we add the gaps to height
        height: calc(25% - var(--fd-gap) * 2);
        // Apparently, unlike overflow: hidden, clip does not work as a containing block for abs/fixed elements.
        // It will not force the browser to composite the contents reliably during animations.
        // If combined with transform, some browsers (e.g. Chromium-based browsers) may rasterize incorrectly or flicker during scale/translate transitions.
        // overflow: clip; // Causes black bar artifacts on high res displays during transitions
        will-change: transform;
        &__container {
          position: relative;
          display: block;
          height: 100%;
          &--img {
            width: inherit;
            height: inherit;
            // image-rendering: crisp-edges; // Makes anti-aliasing worse during animation
            image-rendering: auto;
          }
        }
      }
    }
  }
}

@keyframes imgScale {
  from {
    transform: scale(1);
    filter: opacity(1);
  }
  to {
    transform: scale(1.25);
    filter: opacity(0);
  }
}
