@mixin fdFont($size, $weight) {
  font-family: 'Satoshi', 'PT Sans', sans-serif;
  font-size: var(--fd-font-size-#{$size});
  font-weight: $weight;
  line-height: 150%;
}
@mixin fdFontXXL {
  @include fdFont('xxl', 800);
}
@mixin fdFontXL {
  @include fdFont('xl', 700);
}
@mixin fdFontL {
  @include fdFont('l', 600);
}
@mixin fdFontM {
  @include fdFont('m', 500);
}
@mixin fdFontS {
  @include fdFont('s', 800);
}

@mixin grainPsuedo {
  position: relative;
  &::after {
    content: '';
    position: fixed;
    inset: 0;
    z-index: 11;
    background-image: url(/app/film-database/assets/gif/noise_giphy.gif);
    background-size: 480px;
    background-attachment: fixed;
    opacity: 0.04;
    pointer-events: none;
  }
}

@mixin scrollSnappingXAxis {
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: x proximity;
  scroll-padding: 0 0;
  overscroll-behavior: contain;
}
@mixin scrollSnappingYAxis {
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  scroll-padding: 0 0;
  overscroll-behavior: contain;
}

@mixin scrollbar {
  overflow: clip scroll;
  &::-webkit-scrollbar {
    width: 14px;
    height: 14px;
  }
  &::-webkit-scrollbar-track {
    background: hsl(0, 0%, 8%);
  }
  &::-webkit-scrollbar-thumb {
    background: hsl(60, 8%, 95%);
  }
}
