@use '/app/base/sass/util/functions' as f;
@use '/app/film-database/scss/fdMixins' as m;

.fdHero {
  position: relative;
  display: block;
  width: 100svw;
  height: 50svh;
  @media (max-width: 1050px) {
    height: auto;
  }
  &__container {
    display: flex;
    flex-direction: row;
    width: inherit;
    height: inherit;
    @media (max-width: 1050px) {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding: 0 calc(var(--fd-padding-generic) / 1.5) calc(var(--fd-padding-generic) / 1.5)
        calc(var(--fd-padding-generic) / 1.5);
      border-radius: var(--fd-border-radius);
    }
    @media (max-width: 650px) {
      padding: 0 0 calc(var(--fd-padding-generic) / 1.5) 0;
    }
  }
}
