@use '/app/base/sass/util/functions' as f;
@use '/app/film-database/scss/fdMixins' as m;

.fdHero {
  position: relative;
  display: block;
  width: 100svw;
  height: 50svh;
  @media (max-width: 1501px) {
    height: auto;
  }
  &__container {
    position: relative;
    display: flex;
    width: inherit;
    height: inherit;
    @media (max-width: 1501px) {
      flex-direction: column;
      width: 100svw;
      height: 100%;
      border-radius: var(--fd-border-radius);
    }
  }
}
