@use '/app/base/sass/util/functions' as f;
@use '/app/film-database/scss/fdMixins' as m;

.fdDetails {
  flex: 0 0 auto;
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  height: inherit;
  padding: calc(var(--fd-padding-generic) / 2) calc(var(--fd-padding-generic) / 1.5) 0
    calc(var(--fd-padding-generic) / 1.5);
  @media (max-width: 1501px) {
    height: auto;
    order: 2;
    flex: 1 1 100%;
    padding: 0;
    padding: calc(var(--fd-padding-generic) / 1.5);
  }
  // @media (min-width: 1050px) and (max-width: 1850px) {
  //   position: absolute;
  //   top: calc(50svh - var(--fd-gap) * 4 - (2.25rem * 2.5));
  //   transform: translateY(-50%);
  //   left: calc(var(--fd-padding-generic) / 1.5);
  //   padding: 0;
  // }
  // @media (max-width: 1050px) {
  //   top: calc(80svh - var(--fd-gap) - (2.25rem * 2.5));
  //   padding: 0;
  // }
  // @media (max-width: 1050px) {
  //   order: 2;
  //   position: relative;
  //   top: unset;
  //   left: unset;
  //   padding-top: calc(var(--fd-padding-generic));
  // }
  // @media (max-width: 650px) {
  //   padding: var(--fd-padding-generic) calc(var(--fd-padding-generic) / 1.5) 0 calc(var(--fd-padding-generic) / 1.5);
  // }
  &[data-modal='false'] {
    justify-content: center;
  }
  &--close {
    position: absolute;
    z-index: 13;
    top: calc(var(--fd-padding-generic) / 1.5);
    right: calc(var(--fd-padding-generic) / 1.5);
    & svg {
      width: 1.6em;
      aspect-ratio: 1/1;
    }
  }
  &__footer {
    display: flex;
    gap: var(--fd-gap);
    padding-bottom: calc(var(--fd-gap) * 0.5);
    & a {
      width: calc(2.25rem * 3.5); // 3.5x header font-size
    }
  }
  &__header h2 {
    max-width: 28ch;
    white-space: nowrap;
    overflow: clip;
    text-overflow: ellipsis;
    @include m.fdFontXXL;
    text-transform: uppercase;
    text-shadow: var(--fd-font-shadow);
    @media (max-width: 650px) {
      white-space: wrap;
    }
  }
  &__overview {
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    max-width: 57ch;
    overflow: clip;
    @include m.fdFontM;
    text-shadow: var(--fd-font-shadow);
    @media (max-width: 1501px) {
      width: inherit;
    }
    // @media (max-width: 1850px) {
    //   max-width: 47ch;
    //   display: none;
    // }
    // @media (max-width: 1050px) {
    //   display: block;
    // }
    // @media (max-width: 650px) {
    //   max-width: 100%;
    // }
  }
  &__genres {
    display: flex;
    flex-wrap: wrap;
    margin: calc(var(--fd-gap) / 2) 0;
    & li {
      text-transform: capitalize;
      @include m.fdFontM;
      font-weight: 500;
    }
  }
  &__providers {
    display: flex;
    flex-direction: column;
    gap: calc(var(--fd-gap) * 2);
    padding-top: calc(var(--fd-gap) * 2);
    // padding: calc(var(--fd-gap) * 2.5) 0;
    &__provider {
      display: flex;
      flex-direction: column;
      & header {
        padding-bottom: 8px;
        & h3 {
          @include m.fdFontM;
          font-weight: 700;
          letter-spacing: 0.04em;
        }
      }
      & ul {
        display: flex;
        gap: calc(var(--fd-gap) / 1.5);
        flex-wrap: wrap;
        & li {
          display: flex;
          flex-direction: column;
          & img {
            max-width: 50px;
            border-radius: var(--fd-border-radius);
            box-shadow: 0px 10px 11px -3px rgb(11 11 11);
          }
        }
      }
    }
  }
  &__extra {
    display: flex;
    flex-direction: column;
    gap: calc(var(--fd-gap) * 4);
    padding-top: var(--fd-gap);
    &__inf {
      display: flex;
      flex-direction: column;
      // justify-content: center;
      gap: var(--fd-gap);
      &__voteAvgVisual {
        display: flex;
        gap: calc(var(--fd-gap) / 12);
        & span {
          width: 1.5em;
          & svg {
            width: inherit;
            aspect-ratio: 1;
          }
        }
      }
      & div:nth-of-type(2) {
        @include m.fdFontM;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.07em;
        &[data-status='green'] {
          color: #54c470;
        }
        &[data-status='gold'] {
          color: #f0c419;
        }
        &[data-status='red'] {
          color: #e04f5f;
        }
      }
    }
    &__nav {
      display: flex;
      gap: var(--fd-gap);
      & button {
        display: flex;
        gap: 6px;
        padding: 8px 12px;
        border-radius: calc(var(--fd-border-radius) / 2);
        box-shadow: 0px 10px 11px -3px rgb(11 11 11);
        @include m.fdFontM;
        text-transform: capitalize;
      }
      &--details {
        background-color: var(--fd-bc-secondary);
        color: var(--fd-bc-offset);
        font-weight: 600;
      }
      &__collections {
        position: relative;
        z-index: 3;
        display: inline-block;
        & > button {
          position: relative;
          z-index: 4;
          width: 100%;
          background-color: #5d5b5a;
          font-weight: 500;
        }
        &__dropdown {
          position: absolute;
          top: 100%;
          left: 0;
          z-index: 2;
          display: flex;
          flex-direction: column;
          gap: 1px;
          width: 100%;
          max-height: 500px;
          overflow: visible;
          &[data-open='false'] li {
            transform: translateY(-100%);
            opacity: 0;
            pointer-events: none;
          }
          &[data-open='true'] li {
            transform: translateY(6px);
            opacity: 1;
          }
          li {
            transition:
              transform 0.35s ease,
              opacity 0.35s ease;
            & > button {
              display: block;
              width: 100%;
              border: 1px solid rgba(16 18 27 / 40%);
              background: var(--fd-bc-offset);
              color: var(--fd-font-color-primary);
              overflow: clip;
              text-align: left;
              white-space: nowrap;
              text-overflow: ellipsis;
              &:hover {
                background-color: var(--fd-bc-hover-poster);
              }
              & span {
                display: inline-block;
                padding-right: 4px;
                & svg {
                  display: inline-block;
                  width: 1.1em;
                  aspect-ratio: 1;
                  margin-top: -4px;
                }
              }
            }
          }
        }
      }
    }
  }
}
