@use '/app/base/sass/util/functions' as f;
@use '/app/film-database/scss/fdMixins' as m;

.fdHeader {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: auto 1fr auto;
  width: 100svw;
  padding: 30px calc(var(--fd-padding-generic) / 1.5);
  pointer-events: none;
  @media (max-width: 1501px) {
    position: relative;
  }
  @media (max-width: 550px) {
    grid-template-columns: auto 1fr;
  }
  & > * {
    display: flex;
    align-items: center;
    &:not(.fdHeader__title) {
      pointer-events: all;
      cursor: pointer;
    }
  }
  & button {
    display: flex;
    white-space: nowrap;
    & span {
      @media (max-width: 550px) {
        display: none;
      }
    }
  }
  & svg {
    aspect-ratio: 1/1;
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.4));
  }
  &__title {
    justify-self: start;
    padding-right: calc(var(--fd-gap) * 4);
    @include m.fdFontL;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    white-space: nowrap;
    @media (max-width: 550px) {
      padding-right: unset;
      grid-row: 1;
      grid-column: 1;
    }
    @media (max-width: 400px) {
      letter-spacing: 0.1em;
    }
  }
  &__interactions {
    justify-self: left;
    display: flex;
    gap: calc(var(--fd-gap) * 1.5);
    @media (max-width: 550px) {
      grid-row: 1;
      grid-column: 2;
      justify-self: end;
      // svg width + gap / 2
      margin-right: calc(2rem + (var(--fd-gap) * 4 / 2));
    }
    & li {
      display: flex;
      align-items: center;
      & button {
        display: inherit;
        align-items: inherit;
        gap: calc(var(--fd-gap) / 2);
        @include m.fdFontM;
        text-transform: capitalize;
        white-space: nowrap;
        font-weight: 400;
      }
    }
    & svg {
      width: 2rem;
    }
  }
  &__account {
    justify-self: end;
    @media (max-width: 550px) {
      grid-row: 1;
      grid-column: 2;
    }
    & svg {
      width: 1.6rem;
    }
    & div {
      display: block;
      & div {
        position: absolute;
        top: calc(30px + 2rem + 8px);
        right: calc((var(--fd-padding-generic) / 1.5));
        display: flex;
        flex-direction: column;
        background-color: var(--fd-bc-offset);
        border-radius: calc(var(--fd-border-radius) / 2);
        padding: 8px 16px;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
        opacity: 1;
        transform: scale(1);
        transition:
          opacity 150ms ease,
          transform 150ms ease;
        &[data-open='false'] {
          opacity: 0;
          pointer-events: none;
          transform: scale(0.95);
          transition:
            opacity 150ms ease,
            transform 150ms ease;
        }
        & button {
          @include m.fdFontM;
          text-transform: capitalize;
        }
      }
    }
  }
}
