@use '/app/ecommerce/scss/ecommerceStyles' as m;
@use '/app/base/sass/util/functions' as f;

.eFooter {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  padding: calc(var(--ec-section-y-padding) + f.rem(32)) var(--ec-section-x-padding) var(--ec-section-y-padding)
    var(--ec-section-x-padding);
  border-top-right-radius: f.rem(30);
  border-top-left-radius: f.rem(30);
  margin-top: f.rem(-32);
  background-color: var(--ec-background-secondary);
  background: radial-gradient(circle, rgb(26, 26, 26) 0%, rgb(28, 32, 40) 100%);
  @media (max-width: 1250px) {
    display: flex;
    flex-direction: column;
    gap: f.rem(35);
    padding: f.rem(74) 8.335%;
  }
  &__newsletter,
  &__customerSupport,
  &__additions {
    padding: f.rem(50);
    @media (max-width: 1250px) {
      padding: f.rem(50) f.rem(50) 0 f.rem(50);
    }
  }
  &__newsletter {
    grid-column: span 1;
    @media (max-width: 1250px) {
      padding: f.rem(50) f.rem(50) 0 f.rem(50);
    }
  }
  &__customerSupport {
    grid-column: span 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (width <= 1020px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: f.rem(25) 0 0 0;
    }
  }
  &__additions {
    grid-column: span 2;
    display: flex;
    justify-content: space-evenly;
    gap: f.rem(30);
    width: 100%;
    @media (width <= 1526px) {
      flex-direction: column;
      justify-content: unset;
      align-items: center;
    }
    @media (width <= 1020px) {
      padding: f.rem(75) 0 0 0;
    }
    @media (width <= 970px) {
      justify-content: center;
    }
    @media (width <= 660px) {
      display: flex;
      flex-direction: column;
      gap: f.rem(20);
    }
    &__paymentTypes {
      @media (width <= 1600px) {
        justify-content: center;
      }
    }
  }
}

.eFooter__splitter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: f.rem(25);
  width: 100%;
  padding-bottom: f.rem(25);
  &--line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--ec-font-accent);
    flex-grow: 1;
  }
  & span {
    display: block;
    flex-basis: 1;
    margin-bottom: 0;
    color: var(--ec-font-accent);
    font-size: f.rem(14);
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: f.rem(2);
  }
}

.newsletter {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  & > * {
    margin-bottom: f.rem(12);
  }
  & h2 {
    white-space: nowrap;
    font-size: clamp(f.rem(16), f.rem(34) + 1vw, f.rem(40));
    font-weight: 700;
    line-height: 130%;
    color: var(--ec-font-secondary);
  }
  &__field {
    position: relative;
    display: flex;
    width: 100%;
    max-width: f.rem(400);
    & label {
      display: flex;
      justify-content: center;
      width: inherit;
      max-width: inherit;
      & input {
        width: inherit;
        height: f.rem(42);
        padding: 0 0 0 f.rem(12);
        border: 1px solid hsl(0, 0%, 100%);
        border-radius: calc(var(--ec-border-radius) / 4);
        line-height: f.rem(40);
        color: var(--ec-font-secondary);
        cursor: text;
        &::placeholder {
          color: var(--ec-font-secondary);
        }
      }
    }
    & button {
      position: absolute;
      top: 0;
      right: 0;
      display: grid;
      place-items: center;
      height: 100%;
      padding-right: f.rem(12);
      background-color: transparent;
      & svg {
        height: f.rem(20);
        filter: invert(100%);
      }
    }
  }
  &__notice {
    display: flex;
    pointer-events: none;
    color: var(--ec-font-secondary);
    text-align: center;
    white-space: wrap;
    & p {
      max-width: 45ch;
      font-size: f.rem(16);
      font-weight: 600;
    }
  }
}

.eFooter__customer__policies {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: f.rem(50);
  width: 50%;
  margin: 0;
  @media (width <= 1020px) {
    align-self: center;
    width: 100%;
    padding: 0 0 0 0;
  }
  &__support {
    display: contents;
    & ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: f.rem(6);
      & li {
        width: 100%;
        text-align: center;
        & h2 {
          font-size: clamp(f.rem(16), f.rem(24) + 1vw, f.rem(22));
          font-weight: 700;
          color: var(--ec-font-secondary);
          white-space: nowrap;
        }
        & a {
          color: var(--ec-font-secondary);
          white-space: nowrap;
        }
      }
    }
  }
}

.eFooter__additions {
  &__paymentTypes {
    display: flex;
    gap: f.rem(24);
  }
  &__address {
    display: flex;
    gap: f.rem(24);
    @media (width <= 700px) {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 0 auto;
    }
    & small,
    & address {
      width: fit-content;
      font-size: f.rem(15);
      font-weight: 500;
      color: var(--ec-font-secondary);
      white-space: nowrap;
      @media (width <= 700px) {
        margin: 0 auto;
      }
    }
  }
  &__socialMedia {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: f.rem(25);
    & a svg:nth-child(1) {
      border-radius: calc(var(--ec-border-radius) / 4);
    }
    @media (width <= 1600px) {
      justify-content: center;
    }
  }
}
