@use '/app/film-database/scss/fdMixins' as m;

.fdCatalog {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100svh;
    background-color: var(--fd-bc-primary);
    // Prevent container dragging on mobile
    overscroll-behavior: none;
    touch-action: pan-y;
    @include m.fdFontM;
    @media (max-width: 1501px) {
        height: auto;
        overflow: clip scroll;
        scrollbar-width: none;
    }
}
