@use '/app/film-database/scss/fdMixins' as m;

.fdCatalog {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100svh;
    background-color: var(--fd-bc-primary);
    overflow-x: clip;
    touch-action: pan-y;
    @include m.fdFontM;
    @media (min-width: 1025px) {
        overflow-y: clip;
    }
    @media (max-width: 1024px) {
        overflow-y: scroll;
        scrollbar-width: none;
    }
}
