@use '/app/base/sass/util/functions' as f;
@use '/app/film-database/scss/fdMixins' as m;

.fdCollectionsMenu {
  position: fixed;
  z-index: 4;
  bottom: calc(var(--fd-padding-generic) / 2);
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  gap: var(--fd-gap);
  padding: calc(var(--fd-padding-generic) / 9) calc(var(--fd-padding-generic) / 6);
  border-radius: var(--fd-border-radius);
  background-color: var(--fd-bc-offset);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
  overflow: clip;
  & button {
    display: block;
    position: relative;
    width: 2em;
    aspect-ratio: 1/1;
    & svg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &--edit {
    transition: color 170ms ease-in-out;
    &[data-toggle='false'] {
      color: var(--fd-font-color-primary);
    }
    &[data-toggle='true'] {
      color: #6dbe45;
    }
  }
}

.fdCollections {
  display: flex;
  flex-direction: column;
  gap: calc(var(--fd-gap) * 2 - 15px + 8px);
  // Add menu height to padding-bottom (svg size + padding-top + padding-bottom)
  padding: calc(var(--fd-padding-generic) / 2) 0
    calc(var(--fd-padding-generic) + 2em + (calc(var(--fd-padding-generic) / 9) * 2)) 0;
  &__collection {
    display: flex;
    flex-direction: column;
    & header {
      display: flex;
      padding: 0 calc(var(--fd-carousel-node-width) / 4) var(--fd-gap) calc(var(--fd-padding-generic) / 1.5);
      & svg {
        width: 1.6em;
        aspect-ratio: 1/1;
      }
      & h2 {
        width: 100%;
        padding: 0 var(--fd-gap);
        @include m.fdFontL;
        text-transform: capitalize;
        cursor: default;
      }
    }
    &__wrapper {
      position: relative;
      &:hover nav {
        opacity: 1;
        transition: opacity 0.22s ease-in-out;
      }
      & ul {
        display: flex;
        gap: var(--fd-gap);
        padding: 0 calc(var(--fd-padding-generic) / 1.5) calc(15px + 8px) calc(var(--fd-padding-generic) / 1.5); // Allocate room for shadows (padding-bottom)
        overflow-y: clip;
        overflow-x: scroll;
        scrollbar-width: none;
        &[data-edit-mode='true'] {
          &:has(li) {
            cursor: grab;
            &:active {
              cursor: grabbing;
            }
          }
          & li:active {
            cursor: grabbing;
          }
        }
        &[data-edit-mode='false'] {
          & div {
            height: 0;
          }
          &:not(:has(li)) {
            display: flex;
            padding: 0 calc(var(--fd-padding-generic) / 1.5) 0 calc(var(--fd-padding-generic) / 1.5);
            margin: 0;
          }
          & li:hover {
            cursor: pointer;
          }
        }
        &[data-list-item-fx='true'] {
          & li {
            &[data-list-item-visible='true'] picture {
              &::after {
                content: '';
                position: absolute;
                inset: 0;
                z-index: 10;
                border-radius: var(--fd-border-radius);
                background-image: url(/app/film-database/assets/gif/vhs-noise.gif);
                background-size: 480px;
                background-attachment: fixed;
                opacity: 0.02;
                pointer-events: none;
              }
              & img {
                filter: none;
              }
            }
            &[data-list-item-visible='false'] picture img {
              filter: brightness(35%) saturate(50%);
            }
          }
        }
        &:not(:has(li)) ~ nav {
          display: none;
        }
        & li,
        & div {
          flex-shrink: 0;
          position: relative;
          z-index: 1;
          width: var(--fd-collection-node-width);
          height: var(--fd-collection-node-height);
          border-radius: var(--fd-border-radius);
          overflow: clip;
          touch-action: none;
        }
        & li {
          background-color: var(--fd-bc-primary);
          box-shadow:
            0 8px 10px rgba(0, 0, 0, 0.6),
            0 15px 15px rgba(0, 0, 0, 0.3);
          &:hover:not([data-list-item-visible='true']) picture img {
            filter: brightness(80%) saturate(70%);
          }
          & picture,
          & picture img {
            border-radius: inherit;
          }
          picture img {
            transition: filter 85ms ease-in-out;
          }
        }
        & div {
          interpolate-size: allow-keywords;
          transition: height 170ms ease;
          will-change: height;
          &::before {
            content: '';
            position: absolute;
            top: -25%;
            left: 10%;
            width: 75%;
            height: 150%;
            background: linear-gradient(99deg, rgb(8 8 8), rgb(255 255 255));
            opacity: 0.15;
            animation: borderRotation 15s linear infinite;
            will-change: transform;
          }
          &::after {
            content: '';
            position: absolute;
            top: 0.5%;
            left: 0.5%;
            width: 99%;
            height: 99%;
            background-color: hsl(0, 0%, 11%);
            border-radius: inherit;
          }
          &:hover span {
            transform: rotateX(7deg) translateY(-6px);
          }
          & span {
            position: absolute;
            top: 0.5%;
            left: 0.5%;
            transform: translateY(-20%);
            z-index: 1;
            width: 99%;
            height: 120%;
            background: linear-gradient(
              226deg,
              rgba(255, 255, 255, 0.4) 0%,
              rgba(255, 255, 255, 0.4) 35%,
              rgba(255, 255, 255, 0.2) 42%,
              rgba(255, 255, 255, 0) 60%
            );
            transition: transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
            will-change: transform;
            opacity: 0.25;
          }
          & svg {
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 1.6em;
            aspect-ratio: 1/1;
            opacity: 0.8;
          }
        }
      }
      & nav {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 6;
        display: flex;
        align-items: center;
        width: 100%;
        // Match list items
        height: var(--fd-collection-node-height);
        pointer-events: none;
        opacity: 0;
        transition: all 280ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
        // Greyzone/crosspath for desktop 1280x720 && tablet
        @media (width <= 1152px) {
          display: none;
        }
        & button {
          position: absolute;
          z-index: 10;
          height: 50%;
          background-color: var(--fd-bc-btn);
          pointer-events: all;
          & svg {
            width: 3em;
            height: 3em;
            color: var(--fd-font-color-primary);
          }
        }
        & button:nth-of-type(1) {
          left: 0;
          border-top-right-radius: var(--fd-border-radius);
          border-bottom-right-radius: var(--fd-border-radius);
        }
        & button:nth-of-type(2) {
          right: 0;
          border-top-left-radius: var(--fd-border-radius);
          border-bottom-left-radius: var(--fd-border-radius);
        }
      }
    }
  }
}

@keyframes borderRotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fdCollectionsErrorHandler {
  position: fixed;
  z-index: 3;
  padding: calc(var(--fd-padding-generic) / 9) calc(var(--fd-padding-generic) / 6);
  border-radius: var(--fd-border-radius);
  background-color: var(--fd-bc-offset);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
  overflow: clip;
  transition: all 0.22s ease-in-out;
  & div {
    display: flex;
    gap: calc(var(--fd-gap) / 2);
    white-space: nowrap;
    & svg {
      width: 1.6em;
      aspect-ratio: 1/1;
    }
  }
  &[data-error='true'] {
    bottom: calc(var(--fd-padding-generic) + 1em);
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 1;
  }
  &[data-error='false'] {
    bottom: calc(var(--fd-padding-generic) / 2);
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
  }
}
