@use '/app/base/sass/util/functions' as f;

:root {
  --ec-font-accent: #ff5900;
  --ec-font-primary: hsl(0, 0%, 20%);
  --ec-font-secondary: hsl(0, 0%, 100%);

  --ec-background-primary: hsl(0, 0%, 100%);
  --ec-background-secondary: hsl(0, 0%, 20%);
  --ec-background-primaryOffset: hsl(0, 0%, 91%);
  --ec-background-gradientMono: linear-gradient(145deg, hsl(0, 0%, 100%), hsl(0, 0%, 94%));

  --ec-shadow-refined: -2px -3px 3px hsl(0, 0%, 100%), 2px 3px 3px hsl(0, 0%, 65%);
  --ec-shadow-soft: 0.3rem 0.3rem 0.6rem hsl(0, 0%, 80.8%), -0.2rem -0.2rem 0.5rem hsl(0, 0%, 100%);

  --ec-gap: 2.25rem;
  --ec-section-x-padding: 8.335%;
  --ec-section-y-padding: 4.375rem;
  --ec-border-chunky: 0.13rem solid hsl(0, 0%, 94%);
  --ec-border-radius: 1.5rem;
}

#ecommerce {
  //font: {optional: style variant weight} size line-height "family", "fallback-font", fallback-font-type
  font:
    normal normal 500 100% / 1.5em 'Plus Jakarta Sans',
    'PT Sans',
    sans-serif;
  font-size: f.rem(16);
  color: hsl(0, 0%, 20%);
  background-color: hsl(0, 0%, 100%);
}

.highlight {
  color: var(--ec-font-accent);
}

@mixin ecoSectionHeader {
  font-size: clamp(f.rem(26), f.rem(36) + 1vw, f.rem(42));
  font-weight: 800;
  line-height: 105%;
  text-transform: uppercase;
}

@mixin ecoBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: f.rem(3);
  max-height: f.rem(45);
  padding: f.rem(10) f.rem(14);
  border-radius: calc(var(--ec-border-radius) / 4);
  cursor: pointer;
  font-size: f.rem(12);
  font-weight: 600;
  letter-spacing: f.rem(1);
  text-transform: uppercase;
  white-space: nowrap;
}
@mixin ecoBtnDark {
  background-color: var(--ec-background-secondary);
  color: var(--ec-font-secondary);
}
@mixin ecoBtnLight {
  background-color: var(--ec-background-primary);
  color: var(--ec-font-primary);
}

@mixin productPhoto {
  background: hsl(0, 0%, 95%);
  background-image: -webkit-radial-gradient(top, circle cover, hsl(0, 0%, 100%) 0%, hsl(0, 0%, 86%));
  background-image: -moz-radial-gradient(top, circle cover, hsl(0, 0%, 100%) 0%, hsl(0, 0%, 86%));
  background-image: -o-radial-gradient(top, circle cover, hsl(0, 0%, 100%) 0%, hsl(0, 0%, 86%));
  background-image: radial-gradient(top, circle cover, hsl(0, 0%, 100%) 0%, hsl(0, 0%, 86%));
}
@mixin productPhotoHover {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-top-left-radius: f.rem(16);
    border-top-right-radius: f.rem(16);
    opacity: 0;
    background: hsl(0, 0%, 95%);
    background-image: -webkit-radial-gradient(top, circle cover, hsl(0, 0%, 97%) 0%, hsl(0, 0%, 75%));
    background-image: -moz-radial-gradient(top, circle cover, hsl(0, 0%, 97%) 0%, hsl(0, 0%, 75%));
    background-image: -o-radial-gradient(top, circle cover, hsl(0, 0%, 97%) 0%, hsl(0, 0%, 75%));
    background-image: radial-gradient(top, circle cover, hsl(0, 0%, 97%) 0%, hsl(0, 0%, 75%));
    transition: opacity 0.55s;
  }
  &:hover::before {
    opacity: 1;
  }
  &:hover {
    transform: scale(1.2);
  }
}
@mixin pictureFade {
  position: absolute;
  bottom: 0;
  z-index: 3;
  width: inherit;
  height: calc(100% / 2.4);
  background-image: linear-gradient(0deg, hsl(0, 0%, 0%) 0, transparent);
}

// Home
@mixin homeSectionAfter {
  content: '';
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  border-top-right-radius: 4rem;
  border-top-left-radius: 4rem;
  background-color: var(--ec-background-primaryOffset);
}
