@use '/app/film-database/scss/fdMixins' as m;

.filmDatabase {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--fd-bc-primary);
    @include m.grainPsuedo;
    // Prevent main container from scrolling
    overflow: clip;
    // Prevent container dragging on mobile
    overscroll-behavior: none;
    touch-action: none;
}
