@use '/app/base/sass/util/functions' as f;
@use '/app/portfolio/scss/portfolioStyles' as s;

.contact {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100svw;
  height: 100svh;
  overflow: clip;
  &__heading {
    display: none;
  }
  &__form {
    display: flex;
    align-items: center;
    width: inherit;
    height: inherit;
    overflow-x: clip;
    overflow-y: scroll;
    @media (width >= 1250px) {
      &::-webkit-scrollbar {
        width: 14px;
        height: 14px;
      }
      &::-webkit-scrollbar-track {
        background: #141414;
      }
      &::-webkit-scrollbar-thumb {
        background: #f3f3f1;
      }
    }
    &__step {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1.5rem;
      height: 100%;
      transition: flex-basis 60ms ease-in-out;
      & > *,
      & > * > * {
        transition: opacity 300ms ease-in-out;
      }
      &:nth-child(1) {
        z-index: 1;
      }
      &:nth-child(2) {
        z-index: 2;
      }
      &:nth-child(3) {
        z-index: 3;
      }
      &:last-of-type .contact__form__step__stepper__section {
        justify-content: space-between;
        max-width: calc(((var(--font-size-s) * 7) + 42px * 2 + (12px * 2)) * 2);
      }
      &:not(:last-of-type) {
        border-right: 1.5px solid hsl(240, 4%, 22%);
      }
      &[data-toggle='false'] {
        flex: 0 1 10svw;
        padding: 25svh calc(s.$box-model-viewport-x / 5);
        & > *:not(header) {
          transform: scale(0);
          opacity: 0;
          position: absolute;
          visibility: hidden;
          pointer-events: none;
        }
        & header h2,
        header nav button {
          position: absolute;
          visibility: hidden;
          opacity: 0;
          pointer-events: none;
        }
      }
      &[data-toggle='true'] {
        // Subtract padding from 'false' nodes
        flex: 1 0 calc(80svw - (calc(s.$box-model-viewport-x / 5) * 4));
        padding: 25svh calc(s.$box-model-viewport-x / 1.5) 15svh calc(s.$box-model-viewport-x / 1.5);
        & > * {
          opacity: 1;
        }
      }
      &__header {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        & h2 {
          font-size: var(--font-size-4xl);
          line-height: 115%;
        }
        &__nav {
          position: absolute;
          margin-left: -3em;
          & button {
            padding: 2px 2px;
            & svg {
              width: 1.6rem;
              aspect-ratio: 1/1;
            }
          }
        }
        &__wrapper {
          display: flex;
          align-items: center;
          gap: 6px;
          & svg {
            width: 1.25rem;
            aspect-ratio: 1/1;
            color: hsl(44, 93%, 73%);
            &[data-success='true'] {
              color: hsl(134, 57%, 83%);
            }
          }
        }
      }
      &__ul {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        width: 100%;
        &__li {
          position: relative;
          border-radius: 3px;
          overflow: clip;
          transition: background-color ease-in-out 240ms;
          font-size: var(--font-size-s);
          text-transform: capitalize;
          & > *:not(label):not(textarea) {
            padding: 12px 16px;
            border: 1.5px solid hsl(240, 4%, 22%);
            font-size: inherit;
            text-transform: inherit;
          }
          // On <li> focus, change background-color
          &:focus-within {
            background-color: #eaeffd;
          }
          // On <input> and <textarea> focus, animate label
          &:has(input:focus) label,
          &:has(input:not(:focus):not(:placeholder-shown)) label,
          &:has(textarea:focus) label,
          &:has(textarea:not(:focus):not(:placeholder-shown)) label {
            transform: translateY(calc((12px * 2) * 1.5) * -1); // Matches <input> padding-top & bottom
            opacity: 0;
            transition:
              transform ease-in-out 60ms,
              opacity ease-in-out 60ms;
          }
          // On <input> and <textarea> focus, change font color to black
          &:has(input:focus) input,
          & textarea:focus {
            color: black;
          }
          // When <input> and <textarea> has user text, change background and font colors to black
          & input:not(:placeholder-shown),
          & textarea:not(:placeholder-shown) {
            background-color: #eaeffd;
            color: black;
          }
          // All li elements except <label> and <textarea>
          & > *:not(label):not(textarea) {
            width: 100%;
            height: calc((6px * 2 + 16px) * 2.25); // (Padding height * 2 + font size) * 2
            white-space: nowrap;
          }
          & label {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 16px; // Matches padding of <li> elements
            pointer-events: none;
          }
          // <textarea>
          &:has(textarea) {
            display: flex;
            align-items: flex-start;
            label {
              top: 0;
              left: 0;
              transform: translateX(16px) translateY(12px);
            }
          }
          & textarea {
            width: 100%;
            height: 100%;
            min-height: 15rem;
            padding: 12px 16px;
            background-color: inherit;
            white-space: normal;
          }
        }
        // Accordion (custom <select>/<option>)
        &__dropdown {
          border-right: 1.5px solid hsl(240, 4%, 22%);
          border-bottom: 1.5px solid hsl(240, 4%, 22%);
          border-left: 1.5px solid hsl(240, 4%, 22%);
          border-top: 1.5px solid hsl(240, 4%, 22%);
          overflow: visible;
          cursor: pointer;
          font-size: var(--font-size-m);
          &:has(ul[data-toggle='true']) {
            border-bottom: unset;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            border-top-left-radius: 3px;
          }
          &:has(ul[data-toggle='true']) div,
          &:has(ul[data-toggle='true']) ul {
            background-color: #eaeffd;
            color: black !important;
          }
          & div {
            display: flex;
            align-items: center;
            border: unset;
            &:has(span:nth-of-type(1)[data-toggle='true']) {
              background-color: #eaeffd;
              color: black !important;
            }
            & span:nth-of-type(1) {
              flex: 1 1 70%;
              display: block;
              overflow: hidden;
              font-size: var(--font-size-m);
              white-space: nowrap;
              text-overflow: ellipsis;
            }
            & span:nth-of-type(2) {
              flex: 0 1 30%;
              justify-items: flex-end;
              & svg {
                width: 1.6rem;
                aspect-ratio: 1/1;
              }
            }
          }
          & ul {
            display: none;
            position: absolute;
            top: 100%;
            left: 50%;
            z-index: 10;
            width: calc(100% + 20px);
            height: auto !important;
            padding: unset;
            border-right: 1.5px solid hsl(240, 4%, 22%);
            border-bottom: 1.5px solid hsl(240, 4%, 22%);
            border-left: 1.5px solid hsl(240, 4%, 22%);
            border-top: unset;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
            background-color: s.$background-color-primary;
            cursor: pointer;
            pointer-events: all;
            transform: translateX(-50%);
            &[data-toggle='true'] {
              display: flex;
              flex-direction: column;
            }
            & li {
              display: block;
              background-color: inherit;
              padding: 6px 12px;
              cursor: pointer;
              text-transform: none;
              &:hover {
                background-color: hsl(224, 83%, 98%);
              }
            }
          }
        }
      }
      &__calendar {
        display: flex;
        flex-direction: column;
        width: auto;
        text-align: center;
        padding: 30px 42px;
        border: 1.5px solid hsl(240, 4%, 22%);
        border-radius: 3px;
        &__head {
          display: flex;
          justify-content: space-between;
          padding-bottom: 24px;
          & div {
            font-size: var(--font-size-xl);
          }
          & button {
            & svg {
              width: 1.8rem;
              aspect-ratio: 1/1;
            }
          }
        }
        &__weekdays,
        &__selection {
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          column-gap: 12px;
          row-gap: 12px;
        }
        &__weekdays {
          padding-bottom: 6px;
        }
        &__selection {
          &__opt {
            & button {
              width: 100%;
              height: 100%;
              background-color: hsl(240, 4%, 11%);
              border-radius: 3px;
              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }
      &__stepper {
        display: flex;
        width: 100%;
        padding-top: 1.5rem;
        &__section {
          flex: 1 1 50%;
          display: flex;
          align-items: center;
          &:nth-of-type(1) {
            justify-content: flex-start;
          }
          &:nth-of-type(2) {
            justify-content: flex-end;
          }
          &__button {
            display: flex;
            justify-content: center;
            align-items: center;
            grid-column-gap: 0.75rem;
            grid-row-gap: 1rem;
            padding: calc(0.625rem * 1.5) calc(0.625rem * 2);
            border: 1px solid hsl(240, 4%, 22%);
            border-radius: 2.625rem;
            box-shadow: 0px 3px 6px rgb(0 0 0);
            font-size: var(--font-size-s);
            font-weight: 600;
            text-transform: capitalize;
            & svg {
              width: 1.6rem;
              aspect-ratio: 1/1;
              margin-bottom: -2px;
            }
          }
        }
      }
    }
  }
}
