@use '/app/base/sass/util/functions' as f;
@use '/app/portfolio/scss/portfolioStyles' as s;

@mixin animator {
  &[data-status='carouselNavHeaderOut'] {
    transform: translateY(-100%);
    opacity: 0;
    transition:
      transform 600ms ease-out,
      opacity 600ms ease-out;
  }
  &[data-status='carouselNavHeaderIn'] {
    transform: translateY(0%);
    opacity: 1;
    transition:
      transform 600ms ease-in,
      opacity 600ms ease-in;
  }
  &[data-status='carouselNavFooterOut'] {
    transform: translateY(100%);
    opacity: 0;
    transition:
      transform 600ms ease-out,
      opacity 600ms ease-out;
  }
  &[data-status='carouselNavFooterIn'] {
    transform: translateY(0%);
    opacity: 1;
    transition:
      transform 600ms ease-in,
      opacity 600ms ease-in;
  }
}

.carouselNav {
  display: flex;
  height: 120px;
  padding: 0 17.5% 0 s.$box-model-viewport-x;
  @media (width <= 950px) {
    padding: 0 s.$box-model-viewport-x;
  }
  &--footer {
    @media (width <= 1480px) {
      display: none;
      padding: 0 s.$box-model-viewport-x;
    }
  }
  &__section {
    flex: 0 0 50%;
    &__left,
    &__right {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      gap: s.$portfolio-gap;
      height: 100%;
      & h2,
      & nav button,
      & nav a {
        text-transform: capitalize;
        white-space: nowrap;
      }
      & > * {
        white-space: nowrap;
        @include animator;
        will-change: transform, opacity;
      }
    }
    &__left {
      & h2 {
        display: none;
        &[data-activity='visible'] {
          display: block;
        }
      }
      &__projectNav ul {
        position: relative;
        &:after {
          content: url(https://api.iconify.design/solar:alt-arrow-up-bold.svg?color=%23ffffff);
          position: absolute;
          left: f.rem(2.5);
          top: f.rem(24);
          display: block;
          transform: translateX(var(--afterPsuedoSelector));
          transition: transform 0.35s ease;
        }
        & li button {
          font-size: 1rem;
          filter: brightness(60%);
          transition: filter 360ms ease-in-out;
          &.projectNavButtonActive {
            filter: brightness(100%);
          }
        }
      }
    }
    &__right {
      justify-content: flex-end;
      &__animator {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: calc(s.$portfolio-gap / 6);
        @media (width <=1480px) {
          display: none;
        }
        &--line {
          width: 22px;
          height: 2px;
          background-color: s.$font-color-primary;
          transition: transform 0.7s cubic-bezier(0.7, 0, 0, 1);
          &:nth-of-type(1)[data-status='active'] {
            transform: rotate(45deg) translate(0px, 8px);
          }
          &:nth-of-type(2)[data-status='active'] {
            transform: translate(min(0, -400px));
          }
          &:nth-of-type(3)[data-status='active'] {
            transform: rotate(-45deg) translate(0px, -8px);
          }
        }
      }
      &__nav {
        @media (width > 1480px) {
          clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
          transition: clip-path 720ms cubic-bezier(1, 0, 0, 1);
          &[data-status='hovered'] {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            transition: clip-path 360ms cubic-bezier(0.7, 0, 0, 1);
          }
        }
        @media (max-width: 1480px) {
          & button {
            display: none;
          }
        }
        & > * {
          @include animator;
          will-change: transform, opacity;
        }
      }
    }
  }
}

.carouselNav__section__left__projectNav ul,
.carouselNav__section__right__nav {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: calc(s.$portfolio-gap / 2);
}
