@use '/app/base/sass/util/functions' as f;
@use '/app/portfolio/scss/portfolioStyles' as s;

.projectDetails {
  @media (max-width: 1480px) {
    height: max-content;
  }
}

.projectDetails__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  & h2 {
    display: none;
  }
  @media (max-width: 1480px) {
    position: relative;
    height: auto;
  }
  &__nav {
    display: flex;
    align-items: center;
    width: inherit;
    height: inherit;
    padding: 0 s.$box-model-viewport-x;
    pointer-events: none;
    &__left,
    &__right {
      position: relative;
      flex: 0 0 50%;
      gap: s.$portfolio-gap;
      z-index: 2;
      & button {
        pointer-events: all;
        & span {
          display: flex;
          align-items: center;
          text-transform: none;
        }
      }
    }
    &__left {
      @media (max-width: 1480px) {
        display: none;
      }
    }
    &__right {
      display: flex;
      justify-content: flex-end;
      @media (max-width: 1480px) {
        display: none;
      }
    }
  }
}

.projectDetails__insights {
  display: flex;
  justify-content: center;
  gap: calc(s.$portfolio-gap * 4);
  height: 100%;
  padding: 16rem calc(s.$box-model-viewport-x + 12rem) 8rem calc(s.$box-model-viewport-x + 12rem);
  overflow: clip scroll;
  @media (max-width: 1480px) {
    flex-direction: column;
    align-items: center;
    gap: s.$portfolio-gap;
    padding: calc(s.$box-model-viewport-x / 2) s.$box-model-viewport-x calc(s.$box-model-viewport-x / 2)
      s.$box-model-viewport-x;
  }
  & > * {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
  }
  @media (max-width: 1480px) {
    &::-webkit-scrollbar {
      width: 14px;
      height: 14px;
    }
    &::-webkit-scrollbar-track {
      background: #141414;
    }
    &::-webkit-scrollbar-thumb {
      background: #f3f3f1;
    }
  }
  &__technology {
    width: 100%;
    @media (max-width: 1480px) {
      order: 2;
      align-items: flex-start;
    }
    &__container {
      display: flex;
      flex-direction: column;
      width: inherit;
      & h2 {
        font-size: clamp(f.rem(24), f.rem(30) + 1vw, f.rem(36));
        padding-bottom: 0.75em;
        @media (max-width: 750px) {
          line-height: 200%;
        }
      }
      &__tech {
        display: flex;
        // align-items: center;
        padding: calc(0.75em * 2) 0;
        gap: calc(0.75em * 6);
        border-bottom: 1px solid hsl(240, 4%, 22%);
        @media (max-width: 750px) {
          flex-direction: column;
          align-items: flex-start;
          gap: 0;
        }
        &:nth-of-type(1) {
          padding: 0 0 calc(0.75em * 2) 0;
        }
        &:last-of-type {
          padding: calc(0.75em * 2) 0 0 0;
          border-bottom: 0px;
        }
        &--key {
          flex: 1 0 auto;
          text-transform: capitalize;
          white-space: nowrap;
          @media (max-width: 750px) {
            padding: s.$portfolio-gap 0 0 0;
          }
        }
        &__values {
          display: flex;
          justify-content: flex-end;
          flex: 1 1 auto;
          flex-wrap: wrap;
          row-gap: 1em;
          column-gap: 0.75em;
          text-transform: lowercase;
          @media (max-width: 750px) {
            justify-content: flex-start;
          }
          & li {
            font-size: clamp(f.rem(16), f.rem(12) + 1vw, f.rem(18));
            letter-spacing: 0.06em;
            cursor: text;
          }
        }
      }
    }
  }
  &__project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: s.$portfolio-gap;
    cursor: text;
    & h2 {
      width: clamp(27ch, 100%, 40ch);
      padding-bottom: 0.75em;
      font-size: clamp(f.rem(24), f.rem(30) + 1vw, f.rem(36));
      @media (max-width: 1480px) {
        width: auto;
      }
      @media (max-width: 750px) {
        font-size: clamp(f.rem(20), f.rem(22) + 1vw, f.rem(28));
      }
    }
    & p {
      @media (max-width: 1480px) {
        width: clamp(35ch, 100%, 110ch);
      }
    }
    & p:not(:nth-of-type(1)) {
      margin-block-start: 0.75em;
    }
  }
}
