@use '/app/base/sass/util/functions' as f;
@use '/app/film-database/scss/fdMixins' as m;

.fdModal {
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 100svw;
  height: 100svh;
  padding: var(--fd-padding-generic) var(--fd-padding-generic) 0 var(--fd-padding-generic);
  background-color: rgba(0, 0, 0, 0.7);

  @media (max-width: 1580px) {
    padding: 0;
  }
  &__container {
    position: relative;
    display: block;
    width: 50svw;
    height: 100%;
    border-top-right-radius: var(--fd-border-radius);
    border-top-left-radius: var(--fd-border-radius);
    background-color: var(--fd-bc-offset);
    box-shadow: rgba(0, 0, 0, 1) 0px 3px 10px;
    border-top-right-radius: 0;
    @include m.scrollbar;
    @media (max-width: 1580px) {
      width: 100svw;
      border-radius: 0;
    }
  }
  .fetching {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100svh;
    & svg {
      width: 3.5em;
      aspect-ratio: 1/1;
    }
  }
}
