@use '../../scss/ecommerceStyles' as m;
@use '/app/base/sass/util/functions' as f;

.carousel {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: calc(var(--ec-gap) / 2);
  padding: calc(var(--ec-section-y-padding) - f.rem(32)) var(--ec-section-x-padding)
    calc(var(--ec-section-y-padding) + 2rem) var(--ec-section-y-padding);
  background-color: var(--ec-background-primaryOffset);
  overflow: clip;
  &__heading {
    width: 100%;

    & p {
      padding: 0 0 0 f.rem(4);
      font-weight: 600;
    }
    & h2 {
      @include m.ecoSectionHeader;
      @media (width <= 1148px) {
        font-size: clamp(f.rem(26), f.rem(30) + 1vw, f.rem(36));
      }
      @media (width <= 591px) {
        font-size: clamp(f.rem(18), f.rem(24) + 1vw, f.rem(30));
      }
    }
  }
  &__track {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    gap: var(--ec-gap);
    width: fit-content;
    height: f.rem(625);
    z-index: 4;
    scrollbar-width: none;
    scroll-behavior: smooth;
    &:hover {
      cursor: grab;
    }
    &:active {
      cursor: grabbing;
    }
    @media (width <= 690px) {
      height: f.rem(325);
    }
    @media (width <= 480px) {
      height: f.rem(280);
    }
    & li {
      display: contents;
      &:first-child picture {
        aspect-ratio: 4/2;
        @media (width <= 1815px) {
          aspect-ratio: 4/5;
        }
        @media (width <= 1065px) {
          aspect-ratio: 2/4;
        }
        @media (width <= 690px) {
          aspect-ratio: 1/1;
        }
      }
      picture {
        position: relative;
        height: 100%;
        aspect-ratio: 4/5;
        transition: flex 0.85s ease-in-out;
        @media (width <= 1065px) {
          aspect-ratio: 2/4;
        }
        @media (width <= 690px) {
          aspect-ratio: 1/1;
        }
        & img {
          height: 100%;
          border-radius: var(--ec-border-radius);
          box-shadow: var(--ec-shadow-soft);
        }
        & a {
          position: absolute;
          bottom: 7.5%;
          left: 7.5%;
          z-index: 4;
          @include m.ecoBtn;
          @include m.ecoBtnLight;
          pointer-events: all;
        }
      }
    }
  }
}
