@use '../../scss/ecommerceStyles' as m;
@use '/app/base/sass/util/functions' as f;

.infographic {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  @media (min-width: 1550px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (max-width: 1550px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 980px) {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  align-items: stretch;
  gap: var(--ec-gap);
  height: calc(100svh - 11rem);
  padding: 0 var(--ec-section-x-padding) calc(f.rem(32) + var(--ec-section-y-padding)) var(--ec-section-x-padding);
  &:after {
    @include m.homeSectionAfter;
  }
  & > * {
    @media (min-width: 1550px) {
      &:nth-child(1),
      &:nth-child(4) {
        align-self: start;
      }
      &:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
      }
      &:nth-child(2) {
        grid-column: 1;
        grid-row: 2;
      }
      &:nth-child(3) {
        grid-column: 2;
        grid-row: 1 / span 2;
      }
      &:nth-child(4) {
        grid-column: 3;
        grid-row: 1;
      }
      &:nth-child(5) {
        grid-column: 3;
        grid-row: 2;
      }
    }
    @media (max-width: 1550px) {
      &:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
      }
      &:nth-child(2) {
        grid-column: 1;
        grid-row: 2;
      }
      &:nth-child(3) {
        display: none;
      }
      &:nth-child(4) {
        grid-column: 2;
        grid-row: 1;
      }
      &:nth-child(5) {
        grid-column: 2;
        grid-row: 2;
      }
    }
    @media (max-width: 980px) {
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        display: none;
      }
    }
  }
  &__article {
    & > * {
      text-wrap-style: balance;
    }
    & strong,
    & h2 {
      display: block;
      width: 100%;
      font-size: var(--font-size-5xl);
      font-weight: 800;
      line-height: 100%;
      margin-block-end: 12px;
      text-transform: uppercase;
    }
    & h1,
    & p {
      font-size: var(--font-size-l);
      font-weight: 600;
    }
    & a {
      @include m.ecoBtn;
      @include m.ecoBtnDark;
      margin-top: 18px;
    }
  }
  &__graphic {
    & picture {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: var(--ec-border-radius);
      overflow: clip;
      & img {
        width: inherit;
        height: inherit;
      }
    }
  }
}
