@use '../../scss/ecommerceStyles' as m;
@use '/app/base/sass/util/functions' as f;

.sideBySide {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--ec-gap);
  width: 100%;
  height: fit-content;
  padding: 0 var(--ec-section-x-padding) var(--ec-section-y-padding) var(--ec-section-x-padding);
  background-color: var(--ec-background-primaryOffset);
  @media (width <= 980px) {
    flex-direction: column;
  }
  &::after {
    @include m.homeSectionAfter;
  }
  &__textArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: calc(var(--ec-gap) / 4);
    width: 50%;
    height: fit-content;
    @media (width <= 980px) {
      width: 100%;
      height: auto;
    }
    & h2 {
      display: flex;
      flex-direction: column;
      width: fit-content;
      @include m.ecoSectionHeader;
      @media (width < 853px) {
        font-size: clamp(f.rem(16), f.rem(18) + 8vw, 2.2rem);
      }
      @media (width < 410px) {
        font-size: clamp(f.rem(16), f.rem(18) + 6vw, 1.8rem);
      }
    }
    & p {
      width: clamp(20ch, 100%, 55ch);
      font-weight: 600;
    }
    & a {
      margin-top: calc(var(--ec-gap) / 4);
      @include m.ecoBtn;
      @include m.ecoBtnDark;
      width: fit-content;
    }
  }
  &__video {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    height: inherit;
    @media (width <= 980px) {
      width: 100%;
      height: auto;
      justify-content: center;
    }
    & video {
      aspect-ratio: 0.8/1;
      border-radius: var(--ec-border-radius);
      box-shadow: var(--ec-shadow-soft);
      object-fit: contain;
      pointer-events: unset;
    }
  }
}
